<div data-ng-controller="baiVietCaNhanCtrl">
  <h2 id="baiVietCaNhan"></h2>
  <div class="row">
    <div class="col-lg-12">
      <form>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm bài viết..." ng-model = "textSearch" ng-change="search()">
          <span class="input-group-btn">
            <button ng-click="search()" class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>

      </form>
    </div>
  </div>

  <h1></h1>
  <div class="row">
    <div class="col-sm-12">

      <div class="bai-viet" ng-repeat="post in posts | orderBy: '-updated_at'" >
        <div class="row">
          <div class="col-xs-2">
            <img fallback-src="sportaLogo" ng-src="{{currentUser.avatar.avatar.url |logo}}" class="img-circle profile-picture" width="64px" height="64px">
          </div>
          <div class="col-xs-10">
            <span class="owner-bai-viet">{{currentUser.fullname}}</span>
            <span>{{post.updated_at | timeago}}</span>
            <span class="label pull-right" ng-class="{'label-success': post.published, 'label-danger': !post.published}">{{post.status.name}}</span>
          </div>
        </div>
        <div class="row noi-dung-bai-viet" >
          <div class="col-xs-12">
            <span class="tua-de-bai-viet">
              <a ui-sref="chiTietBaiViet({id: post._id.$oid})">{{post.title}}</a>
            </span>
            <div class="mo-ta-bai-viet">
              {{post.body}}
            </div>
            <p></p>
            <div class="btn-group pull-right" role="group" aria-label="...">
              <a ui-sref="chiTietBaiViet({id: post._id.$oid})" class="btn btn-default" tooltip="Chi tiết bài viết"><span class="glyphicon glyphicon-zoom-in"></span></a>
              <a  ng-if="!post.published && permission.all" ui-sref="editPost({id: post._id.$oid})" class="btn btn-default" tooltip="Chỉnh sửa bài viết"><span class="glyphicon glyphicon-edit"></span></a>
              <a   ng-if="permission.all" ng-confirm-click="Bạn có muốn xóa bài viết hay không ?" confirmed-click="deletePost(post)" class="btn btn-default" tooltip="Xóa bài viết"><span class="glyphicon glyphicon-trash"></span></a>
            </div>

          </div>
        </div>
      </div>
      <span ng-show="isLoading" ><img style="display:block;margin:0px auto;" src="application/placeholder/spinner_loading.gif" width="22px" height="22px"></span>
    </div>
  </div>

  <div class="row" ng-if="!textSearch">
    <div class="col-xs-12" style="text-align: center;">
      <paging
      class="small"
      page="pageConfig.currentPage"
      page-size="pageConfig.pageSize"
      total="pageConfig.total"
      adjacent="{{pageConfig.adjacent}}"
      dots="{{pageConfig.dots}}"
      scroll-top="{{pageConfig.scrollTop}}"
      hide-if-empty="{{pageConfig.hideIfEmpty}}"
      ul-class="{{pageConfig.ulClass}}"
      active-class="{{pageConfig.activeClass}}"
      disabled-class="{{pageConfig.disabledClass}}"
      show-prev-next="{{pageConfig.showPrevNext}}"
      paging-action="onPageSelected('Paging Clicked', page)">
    </paging>
  </div>
</div>

</div>
