<div class="modal-header">
    <button ng-click="$dismiss()" type="button" class="close" 
       data-dismiss="modal" aria-hidden="true">
          &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
       Đổi mật khẩu
    </h4>
</div>
<div class="modal-body">
         <form novalidate name="editPasswordForm" role="form">
              <!-- Cho hien thi loi -->
              <div flash-message="5000"></div>
              <div class="form-group">
                <label for="currentPassword">Mật khẩu hiện tại:</label>
                <input ng-model="currentPassword" name="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Mật khẩu hiện tại" required ng-minlength=8 ng-maxlength=20>
                <div ng-show="editPasswordForm.currentPassword.$dirty && editPasswordForm.currentPassword.$invalid">
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.currentPassword.$error.required">Vui lòng nhập mật khẩu hiện tại</span>
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.currentPassword.$error.minlength">Mật khẩu ít nhất là 8 kí tự</span>
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.currentPassword.$error.maxlength">Mật khẩu không được quá 20 kí tự</span>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Mật khẩu mới:</label>
                <input ng-model="password"  name="password" type="password" class="form-control" id="password" placeholder="Mật khẩu mới" required ng-minlength=8 ng-maxlength=20>
                <div ng-show="editPasswordForm.password.$dirty && editPasswordForm.password.$invalid">
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.password.$error.required">Vui lòng nhập mật khẩu mới</span>
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.password.$error.minlength">Mật khẩu ít nhất là 8 kí tự</span>
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.password.$error.maxlength">Mật khẩu không được quá 20 kí tự</span>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmationPassword">Nhập lại mật khẩu mới:</label>
                <input ng-model="confirmationPassword" name="confirmationPassword" type="password" class="form-control" id="confirmationPassword" placeholder="Nhập lại mật khẩu mới" required minlength=8 ng-maxlength=20 confirmation-password orginal-password="password">
                <div ng-show="editPasswordForm.confirmationPassword.$dirty && editPasswordForm.confirmationPassword.$invalid">
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.confirmationPassword.$error.required">Vui lòng nhập lại mật khẩu mới</span>
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.confirmationPassword.$error.minlength">Mật khẩu ít nhất là 8 kí tự</span>
                   <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.confirmationPassword.$error.maxlength">Mật khẩu không được quá 20 kí tự</span>
                    <span style="color: 'red';" class="help-block" ng-show="editPasswordForm.confirmationPassword.$error.confirmation_password">Mật khẩu bạn nhập không khớp với mật khẩu mới</span>
                   
                </div>
              </div>
        </form>
</div>
<div class="modal-footer">
      <button ng-click="changePassword()" ng-disabled="editPasswordForm.$invalid" type="button" class="btn btn-success">
         Lưu
      </button>
      <button ng-click="$dismiss()" type="button" class="btn btn-danger">Thoát
      </button>
      
</div>