<div class="modal-header">
    <button type="button" class="close" 
       data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
          &times;
    </button>
    <h4 class="modal-title" id="myModalLabel">
       Chỉnh sửa tài khoản
    </h4>
</div>
<div class="modal-body">
        <form novalidate name="editProfileForm" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="control-label col-sm-2" for="fullname">Họ tên:</label>
              <div class="col-sm-10">
                <input ng-model="user.fullname" required name="fullname" type="text" class="form-control" id="fullname" placeholder="Họ tên">
                <div ng-show="editProfileForm.fullname.$dirty && editProfileForm.fullname.$invalid">
                   <span style="color: 'red';" class="help-block" ng-show="editProfileForm.fullname.$error.required">Họ tên không được trống</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="gender">Giới tính:</label>
              <div  class="col-sm-10">
                <!-- <select ng-model="user.gender" ng-options="item as item for item in gender"  name="gender" class="form-control"></select> -->
                <select ng-model="user.gender" name="gender" class="form-control">
                  <option>Nam</option>
                  <option>Nữ</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="address">Địa chỉ:</label>
              <div class="col-sm-10">
                <input ng-model="user.address" name="address" type="text" class="form-control" id="address" placeholder="Địa chỉ">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="phone">Điện thoại*:</label>
              <div class="col-sm-10">
                <input ng-model="user.phone" name="phone" type="text"  ng-minlength="10" ng-maxlength="11" class="form-control" id="phone" placeholder="Điện thoại" required>
                <div class="has-error" data-ng-show="editProfileForm.phone.$dirty && editProfileForm.phone.$invalid">
                    <span class="help-block" ng-show="editProfileForm.phone.$error.required">Vui lòng cung cấp số điện thoại.</span>
                </div>
                <div class="has-error" data-ng-show="editProfileForm.phone.$dirty && register_form.phone.$invalid">
                    <span class="help-block" ng-show="editProfileForm.phone.$error.minlength || editProfileForm.phone.$error.maxlength">Số điện thoại ít nhất 10 số (0948993995)  hoặc tối đa 11 số (01279012790).</span>
                </div>
                <div class="has-error" data-ng-show="editProfileForm.phone.$dirty && editProfileForm.phone.$invalid">
                    <span class="help-block" ng-show="!editProfileForm.phone.$error.minlength && !editProfileForm.phone.$error.maxlength && !editProfileForm.phone.$error.required">Định dạng không hợp lệ. Số điện thoại ít nhất 10 số (0948993995)  hoặc tối đa 11 số (01279012790). </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="description">Giới thiệu:</label>
              <div class="col-sm-10">
                <textarea ng-model="user.description" name="description" style="min-height: 100px;" class="form-control" placeholder="Giới thiệu"></textarea> 
              </div>
            </div>
      </form>
</div>

<div class="modal-footer">
      <button ng-click="update()" ng-disabled="editProfileForm.$invalid" type="button" class="btn btn-success">
         Lưu
      </button>
      <button ng-click="cancel()" type="button" class="btn btn-danger" 
         data-dismiss="modal">Thoát
      </button>
      
</div>