<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="close_modal()">&times;</button>
  <h3 class="modal-title">Thêm mới loại sân</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <section>
        <div>
          <div class="form-group marginbot10">
            <div class="col-sm-2">
              <label>Tên loại*</label>
            </div>
            <div class="col-sm-10">
              <input name="name" type="text" class="form-control" data-ng-model="newCategory.name" required>
              <div data-ng-show="assestCategoryForm.name.$dirty && assestCategoryForm.name.$invalid">
                <span ng-show="assestCategoryForm.name.$error.required" class="help-block error">Vui lòng nhập tên loại hạng</span>
              </div>
            </div>
          </div>

          <div class="form-group marginbot10">
            <div class="col-sm-2">
              <label>Mô tả ngắn gọn</label>
            </div>

            <div class="col-sm-10">
              <textarea  rows="4" cols="50" class="form-control" data-ng-model="newCategory.short_desc">
              </textarea>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="form-group">
          <div class="">
            <table width="100%">
              <tr>
                <td style="text-align:center">Từ</td>
                <td>
                  <select class="form-control" ng-model="begin_time" id="begin_time" ng-options="begin_time for begin_time in time_list">
                  </select>
                </td>
                <td style="text-align:center">Tới</td>
                <td>
                  <select class="form-control" ng-model="end_time" id="end_time" ng-options="end_time for end_time in time_list">
                  </select>
                </td>
                <td>
                  <td style="text-align:center">Giá</td>
                  <td>
                    <input  type="number" name="price" ng-model="price" id="input-price" type="text" required>.000 VND
                  </td>
                  <td>
                    <button data-ng-click="addFee()" id="btn-add-time" type="button" class="btn btn-send"><i class="fa fa-plus"></i></button>
                  </td>
                </td>
              </tr>
            </table>
          </div>

          <div class="form-group table-responsive">
            <table id="time-table" class="table table-bordered table-hover my-table">
              <thead>
                <tr>
                  <th>Từ</th>
                  <th>Tới</th>
                  <th>Giá</th>
                  <th>Xóa</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="fee in newCategory.fees">
                  <td>{{fee.begin_time | date: 'shortTime'}}</td>
                  <td>{{fee.end_time | date: 'shortTime'}}</td>
                  <td>{{fee.price | vnd}}</td>
                  <td><a data-ng-click="removeFee(fee)" my-id="btn-delete-time"><i class="btn btn-danger fa fa-times"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div style="float:right">
    <a ng-show="isnew" data-ng-click="createAssetCategory()" class="btn btn-success">Them <i class="fa fa-save"></i></a>
    <a ng-hide="isnew" data-ng-click="updateAssetCategory()" class="btn btn-success">Luu <i class="fa fa-save"></i></a>
  </div>
</div>
