<div class="row">
    <ul class="media-list">
         <li class="media">
               <h4 class="media-heading" style="text-align: center; font-size: 22px;margin-bottom: 5px;margin-top: 5px;">Sân bóng đá Sporta     </h4>
                <div style="" >
                    <p><i class="fa fa-phone" style="margin-right:5px;"></i>{{venue.phone}}</p>
                    <p><i class="fa fa-location-arrow" style="margin-right:5px;"></i>{{venue.address}}</p>
                    
                    <div class="myMap" map-lazy-load="http://maps.google.com/maps/api/js">
                        <map style="width:100%; height:300px; border:5px solid; border-radius: 5px; border-color: #DFDFDF;"  zoom="17" center="{{venue.coordinates[1]}},{{venue.coordinates[0]}}" item="{{venue}}">
                        </map>
                    </div>
                   <!--  <div id-map="ban-do-o-day">
                        <div id="map" style="width:100%; height:300px; border:5px solid; border-radius: 5px; border-color: #DFDFDF;">
                        </div>
                    </div> -->
                </div>

                <div ng-if="venue.photos != null && venue.photos.length >= 1" data-id="phan-cho-hinh-anh-dia-diem">
                    <hr>
                    <p>Một số hình ảnh về: <b>{{venue.name}}</b></p>
                    <div class="detail-post-images">
                      <a ng-click="showImage(photo)" ng-repeat="photo in venue.photos"><img ng-src="{{photo.image.url | logo}}" width="120px" height="120px"></a>
                    
                    </div>
                </div>
                <hr>
                <div class="row" style="height:auto; background-color: whitesmoke; padding:10px; border-radius: 15px;">
                    <div class="col-xs-10">
                      {{venue.description}}
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="trangCaNhan({id: venue.user.$oid._id})" style="float: right;">
                       <img class="img-circle img-responsive profile-picture" class="media-object" fallback-src="sportaLogo"  ng-src="{{venue.user.avatar.url | logo}}" 
                       alt="Generic placeholder image" width="64px" height="64px" style="min-width: 44px; min-height: 44px;">
                      </a>
                    </div>
                </div>
              
         </li>
    </ul>

</div>
<!-- END MAIN COLUMN -->


<!-- De cho chua khoang trong duoi day -->
<div style="margin-bottom: 100px;"></div>

<!-- BEGIN MODAL HIEN THI HINH ANH -->
<script type="text/ng-template" id="showImageModal.html">
  <div class="modal-body my-modal-image">
    <img src="{{photo.image.url}}" width="100%" height="100%">
    <!-- Arrow Left -->
    <span left-arrow-pressed="previous()" ng-click="previous()" u="arrowleft" class="jssora02l" style="top: 50%; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span right-arrow-pressed="next()"  ng-click="next()" u="arrowright" class="jssora02r" style="top: 50%; right: 8px">
    </span>
  </div>
</script>
<!-- BEGIN MODAL HIEN THI HINH ANH -->
</div>


<div  id="customMarker" style="display:none;">
  <div style='position: relative; width:100px; height:100px; cursor: pointer;'>
    <img  style="display:block; left:15px; top:7px; position:absolute; z-index:10s" class="img-circle img-avatar" width="70px" height="70px" src="" >
    <img style="display:block;z-index: 100;" width="100px" height="100px" src="application/placeholder/marker_layout.png">
  </div>
</div>

<script type="text/javascript">
 autosize(document.querySelectorAll('textarea'));

     //For modal
     $(document).ready(function() {
       $("#list-people-like").click(function() {
         $('#myModal2').modal('toggle');
       });
     });
   </script>


   <style type="text/css">
    .media-body {
      box-sizing: border-box;
      float: left;
      padding-left: 10px;
      width: 85%;
    }
  </style>