<nav class="navbar navbar-default navbar-fixed-top" style = "z-index: 30; background-color: #30445d">
  <div class="row">
    <div class="container" >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home"><img alt="Brand" src="application/myimg/logo.png" height="22px">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse" ng-controller="headerCtrl">
        <div class="col-sm-5">

          <form role="form">
            <div class="input-group" id="search_box" style="margin-top:10px;z-index: 2">
              <input type="text" class="form-control" placeholder="Tìm kiếm sân, địa chỉ..." ng-model = "search_query" ng-change = "search_fast()" ng-focus="focused()" ng-blur ="blurred()">
              <span class="input-group-btn">
                <button ng-click="search()" class="btn btn-default" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>

          <div ng-show="search_query && isfocus">

            <ul ng-hide="show_recommend_result()" class="list_recommend" ng-mouseover="over_search()" ng-mouseout="out_search()" style="text-align: center;">
              <li>
                <span ng-show="isloading" class="fa fa-spinner fa-pulse fa-fw"></span>
              </li>
              <li ng-hide="isloading && results != []">
                Không có kết quả nào
              </li>
            </ul>

            <ul ng-show="show_recommend_result()" class="list_recommend" ng-mouseover="over_search()" ng-mouseout="out_search()" >
              <li ng-repeat = "result in results" ng-click="showresult(result)">
                <strong>{{result.name}}</strong>
                <p>{{result.address}}</p>
              </li>
            </ul>
          </div>

        </div>

        <!-- NAVIGATION HERE -->
        <div ng-include="'appJS/nav/_nav.html'"></div>
        <!-- END NAVIGATION HERE -->

      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>