@charset "utf-8";
.container .row .column-left {
	width: 20%;
	/* [disabled]height: 100px; */
	background: #D5AFAF;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
}
.container .row .column-right {
	width: 79%;
	background-color: #AD9696;
	float: right;
}
#content .container .row {
	padding-left: 20px;
	padding-right:20px;
}
.row .column-right .item1 {
	width: 31.2%;
	float: left;
	padding: 0 10px;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #F4F1F1;
	border: thin solid #CCCCCC;
	border-radius: 4px;
	margin-bottom: 12px;
	height: 428px;
}
.row .column-right .item1 img{
	display:block;
	height:200px;
}
.row .column-left .sport-group {
	list-style: none;
	margin-left: 0px;

}
.sport-group li a {
	background-image: url(../myimg/group_icon.png);
	background-repeat: no-repeat;
	padding-left: 27px;
	background-position: 0% -3px;
}

@media screen and (max-width:990px){
	.row .column-right .item1 {
		width: 48%;
	}
}

@media screen and (max-width:650px){

	.container .row .column-left {
		width: 100%;
		margin-bottom:20px;
	}
	.container .row .column-right {
		width: 100%;
		background-color: #AD9696;
		float: right;
	}

	.row .column-right .item1 {
		width: 48%;
	}
}


@media screen and (max-width:350px){
	.row .column-right .item1 {
		width: 98%;

	}
}
