<div class="row">

  <!-- BEGIN MAIN COLUMN -->
  <div class="detail-main-column">
    <div>
      <div class="well">
        <form name="shareVenueForm" role="form" novalidate>
          <div class="form-group">
            <label for="name">Nơi chơi*:</label>
            <input ng-model="venue.name"  required name="name" type="text" class="form-control" id="name" placeholder="Nơi chơi:">
            <div ng-show="shareVenueForm.name.$dirty && shareVenueForm.name.$invalid">
              <span style="color:#FF0000" ng-show="shareVenueForm.name.$error.required">Nhập nơi chơi để chia sẽ cùng mọi người</span>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Số điện thoại*:</label>
            <input  ng-model="venue.phone" name="phone" type="text" class="form-control" id="phone" placeholder="Số điện thoại của nơi chơi" ng-pattern="/^[0]{1}[0-9]{9,10}$/" required>
            <div ng-show="shareVenueForm.phone.$dirty && shareVenueForm.phone.$invalid">
              <span style="color:#FF0000" ng-show="shareVenueForm.phone.$error.pattern">Định dạng hợp lệ cho số điện thoại: 01279012790, 0948993995</span>
            </div>
            <div ng-show="shareVenueForm.phone.$dirty && shareVenueForm.phone.$invalid">
              <span style="color:#FF0000" ng-show="shareVenueForm.phone.$error.required">Vui lòng cung cấp số điện thoại để giúp mọi người tiện liên lạc với chủ sân</span>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Giờ làm việc*:</label>

            <div>
              <label style="margin-top:40px;" class="control-label col-sm-1" for="begin_work_time">Từ:</label>
              <div class="col-sm-3"><timepicker ng-change="onChangeTime()" ng-model="time.begin_work_time" hour-step="1" minute-step="10" show-meridian="false"></timepicker></div>

              <label style="margin-top:40px;" class="control-label col-sm-1" for="end_work_time">Tới:</label>
              <div class="col-sm-3"><timepicker ng-change="onChangeTime()" ng-model="time.end_work_time" hour-step="1" minute-step="10" show-meridian="false"></timepicker></div>
            </div>
            <p style="clear: both;"></p>
            <div ng-show="timeError">
              <span style="color:#FF0000" ng-show="timeError">Thời gian làm việc phải nhỏ hơn thời gian kết thúc</span>
            </div>
           <!--  <div class="form-horizontal form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
            </div> -->

          </div>


          <div class="form-group">
            <label for="description">Địa chỉ và vị trí*: <img  class="help-icon" src="application/myimg/help-icon.png" width="34px" height="34px" data-toggle="popover" popover="Thông tin này sẽ giúp mọi người dễ dàng tìm kiếm nơi chơi bạn chia sẽ hơn thông qua sporta." popover-title="Thông tin thêm"></label>
            <form name="positionForm" role="form" novalidate>
              <div class="row">
                <div class="col-lg-12">
                  <div class="input-group">
                    <input  ng-model="venue.address" required name="address" type="text" class="form-control" id="address" placeholder="Địa chỉ">

                    <span class="input-group-btn">
                      <button ng-click="onSearchPosition()" data-ng-disabled="shareVenueForm.address.$invalid"  class="btn btn-default" type="button">Tìm kiếm  <span ng-if="isFinding" class="fa fa-spinner fa-spin"></span></button>
                    </span>
                  </div>
                  <div ng-show="shareVenueForm.address.$dirty && shareVenueForm.address.$invalid">
                    <span style="color:#FF0000" ng-show="shareVenueForm.address.$error.required">Nhập địa chỉ của nơi chơi bạn muốn chia sẻ</span>
                  </div>
                  <span style="color:#FD2A00;">{{error}}</span>
                  <!-- <div flash-message="5000"></div> -->
                </div>
              </div>
            </form>
            <p></p>
            <!-- MAP HERE -->
            <div id="map" map-lazy-load="http://maps.google.com/maps/api/js">
              <map center="10.771918,106.69834700000001" map-type-control="true" map-type-control-options="{style:'DROPDOWN_MENU', position:'RIGHT_BOTTOM'}">
                <custom-control id="home" position="TOP_RIGHT" index="1" on-click="onSearchCurrentPosition()">
                <button class="btn btn-default" type="button">Vị trí hiện tại của bạn</button>
              </custom-control>
            </map>
          </div>

          <div class="form-group">
            <label for="name">Cảm nhận của bạn*:</label>
            <div class="post-form">
              <div class="post-form-content">
                <textarea  name="description" style="border:none;padding: 6px 12px;display:block;" placeholder="Cảm nhận, chia sẽ, hình ảnh về nơi bạn muốn chia sẽ" ng-model="venue.description" required></textarea>

                <div  class="post-form-images">
                  <span class="image" ng-repeat="photo in uploader.queue">
                    <button ng-hide="photo.isUploading" ng-click="photo.remove()" aria-hidden="true" class="close" >&times;</button>
                    <div ng-thumb="{file: photo._file, height: 100, width:100}" ng-show="uploader.isHTML5"></div>
                  </span>
                </div>
              </div>

              <div ng-show="uploader.isUploading" style="margin: 0px 10px;margin-bottom: -10px;">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" ng-style="{'width': uploader.progress + '%'}" style="width: 0%;">
                    {{uploader.progress}}
                  </div>
                </div>
              </div>

              <div class="post-form-bottom">
                <div style="float:right; margin: 5px 5px;" aria-label="... " role="group" class="btn-group">
                  <button data-ng-disabled="uploader.isUploading" class="btn btn-primary" id="addImageBtn"><span aria-hidden="true" class="fa fa-picture" ></span> Thêm ảnh</button>
                  <input style="display:none;" id="addImageInput" type="file" nv-file-select uploader="uploader" multiple>
                </div>
              </div>

            </div>
          </div>

          <button  ng-click="onSendVenue()" data-ng-disabled="shareVenueForm.$invalid || !venue.latitude || !venue.longitude || timeError" type="submit" class="btn btn-success btn-block">Gửi</button>

        </form>
      </div>
    </div>

  </div>
  <!-- END MAIN COLUMN -->
</div>

<div  id="customMarker" style="display:none;">
  <div style='position: relative; width:100px; height:100px; cursor: pointer;'>
    <img  style="display:block; left:15px; top:7px; position:absolute; z-index:10s" class="img-circle" width="70px" height="70px" fallback-src="sportaLogo" ng-src="{{currentUser.avatar.url | logo}}" >
    <img style="display:block;z-index: 100;" width="100px" height="100px" src="application/placeholder/marker_layout.png">
  </div>
</div>

<style type="text/css">
  #map map{
    width: 100%;
    height: 350px;
  }

  .form-bai-viet{
    padding: 0px;
  }
  .post-form{
   border: 1px solid #ccc;
   border-radius: 4px;
 }
</style>

<script type="text/javascript">
 autosize(document.querySelectorAll('textarea'));
 $('#addImageBtn').on("click", function() {
   $("#addImageInput").click();
 });
</script>

