<div class="row">
	<div class="col-md-12">
              <!-- DONUT CHART -->
              
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title" style="display:block; text-align: center;">DOANH THU THEO TUẦN</h3>
                 
                  <div class="date-status" style="display:block; text-align: center; align:center;">
                    <p>{{from.toDateString()}} <i class="fa fa-long-arrow-right"></i> {{to.toDateString()}}</p>
                    <p  style="margin-top: -10px;">Đơn vị: Ngàn/VND</p>
                  </div>
                  <div class="pull pull-right" style="margin-top:-40px;">
                      <a ng-show="isLoading"><i class="fa fa-spinner fa-spin fa-2x"></i></a>
                      <a ng-click="previousWeek()"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
                      <a ng-click="nextWeek()"><i class="fa fa-arrow-circle-right fa-2x"></i></a>

                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                     <canvas id="bar" class="chart chart-bar" data="thongKeTheoNgayTrongTuan.data" labels="thongKeTheoNgayTrongTuan.labels" legend="true" series="thongKeTheoNgayTrongTuan.series"
                     width="512" style="width: 512px; height: 290px;" id="areaChart" height="290" options="options" ></canvas>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
              <!-- AREA CHART -->
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title" style="display:block; text-align: center;">DOANH THU THEO THÁNG</h3>
                  <div class="date-status" style="display:block; text-align: center; align:center;">
                    <p>Đơn vị: Ngàn/VND</p>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="bar" class="chart chart-bar" data="bussiness.data" labels="bussiness.labels" legend="true" series="bussiness.series"
                     width="512" style="width: 512px; height: 290px;" id="areaChart" height="290" options="options"></canvas>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              
            
	</div>
</div>
<style type="text/css">
  .box-title{
    display: block;
    margin: 0px auto;
  }
  .date-status{
    margin: 0px auto;
  }
</style>