#form1 {
	width: 100%;
}
.table-login tbody tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
}
tr td .btn.btn-theme {
	width: 139px;
}
.wrapper #form1 .table-login {
	border: 0px solid #C9C9C9;
}

@media screen and (max-width:500px){
	tr td .btn.btn-theme {
	width: 100px;
}
}
@media screen and (max-width:380px){
	tr td .btn.btn-theme {
	width: 80px;
}
}
@media screen and (max-width:360px){
	tr td .btn.btn-theme {
	width: 65px;
}
	tr td{
		font-size:0.8em;
	}
}
