/* ==== Google font ==== */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Patrick+Hand+SC');
/* ===================================
1. General
==================================== */
html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

body { padding-top: 70px; }

body {
	font-family:'Patrick Hand SC', arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#656565;
	min-height: 100%;
	margin:0;
	padding:0;
	height:100%;
}

a:active {
	outline:0;
}

.clear {
	clear:both;
}

h1,h2, h3, h4, h5, h6 {
	font-family:'Patrick Hand SC', Arial, sans-serif;
	font-weight:700;
	line-height:1.1em;
	color:#333;
	margin-bottom: 20px;
}

/* ===================================
2. layout
==================================== */
.largecontainer {
	padding:0 10px 0 10px;
	position: relative;
}

.container {
	padding:0 20px 0 20px;
	position:relative;
}

#wrapper{
	width:100%;
	margin:0;
	padding-top: 64px;
	padding-bottom: 60px;
	min-height:100%;
	position:relative;
}


.scrollup{
	position  :fixed;
	width     :32px;
	height    :32px;
	bottom    :0px;
	right     :20px;
	background: #222;
}

a.scrollup {
	outline:0;
	text-align: center;
}

a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
	margin-top: 10px;
	color: #fff;
}
a.scrollup i:hover {
	text-decoration:none;
}

.report_error{
	position  :fixed;
	width     :120px;
	height    :32px;
	bottom    :0px;
	right     :150px;
	background: #30445d;
}

a.report_error {
	outline:0;
	text-align: center;
	font-size: 16px;
	color: white;
}

a.report_error:hover,a.report_error:active,a.report_error:focus {
	opacity:1;
	text-decoration:none;
}


footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background-color: #30445d;
}

.whitecolor{
	color: white !important;
}

/* =============================
20. Spacer, margin
============================= */

.clear-marginbot{
	margin-bottom:0;
}

.marginbot5{
	margin-bottom:5px;
}

.marginbot10{
	margin-bottom:10px;
}
.marginbot20{
	margin-bottom:20px;
}
.marginbot30{
	margin-bottom:30px;
}
.marginbot40{
	margin-bottom:40px;
}

.clear-margintop{
	margin-top:0;
}

.margintop10{
	margin-top:10px;
}

.margintop20{
	margin-top:20px;
}

.margintop30{
	margin-top:30px;
}

.margintop40{
	margin-top:40px;
}

.marginright20{
	margin-right: 20px;
}

.marginleft20{
	margin-left: 20px;
}
.marginleft5{
	margin-left: 5px;
}

.padding10 {
	padding: 10px 0 0 0;
}

.coverimg
{
	width: 100%;
	height: 250px;
}

/*Style of table booking*/
.tablebooking {
	width: 100%;
	table-layout: absolute;
}

.tablebooking th, .tablebooking td{
	border: 1.5px solid #DDDDDD;
	border-collapse: collapse;
	height: 20px !important;
	width: 170px !important;
	/*background-color: #FFFFFF;*/
}

.tablebooking td{
	font-size: 14px;
	line-height: 1.4em;
}

.calendar_content{
	overflow: auto;
	height: 510px;
	position: relative;
	background-color: #ffffff;
	padding: 0 0 0 0;
}

.fee_content{
	overflow-y: auto;
	height: 210px;
}

/*post*/
.post{
	background: #f8f8f8;
	width: 100%;
	padding: 10px 10px 10px 10px;
}
/*comment*/
.comment{
	width: 93%;
	height: 30px;
}

.postcontent
{

}

.write_status{
	background: #f8f8f8;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

#status_input{
	text-align: left;
	width: 100%;
	min-height: 50px;
	display:block;
	resize: none;
	overflow: hidden;
	display:block;
}

/*boxbooking*/
.boxbooking {
	display: none;
	background: #f8f8f8;
	padding: 0px 10px 10px 10px;
	box-shadow: 2px 2px 5px #888888;
	position: fixed;
	width: 275px !important;
	z-index: 4;
}

.ticket {
	z-index: 1;
	position: absolute;
	display: none;
	color: black;
}

.ticket_new {
	background-color: rgba(57,116,216,0.6);
	border: 1px rgba(57,116,216,0.6) solid;
	display: inline;
}

.ticket_doing {
	background-color: rgba(123, 209, 72,0.6);
	border: 1px rgba(123, 209, 72,0.6) solid;
	display: inline;
}

.ticket_waiting {
	background-color: rgba(221, 75, 63,0.6);
	border: 1px rgba(221, 75, 63,0.6) solid;
	display: inline;
}

.ticket_over {
	background-color: rgba(251, 215, 91,0.6);
	border: 1px rgba(251, 215, 91,0.6) solid;
	display: inline;
}

.ticket_done {
	background-color: rgba(112, 113, 117,0.6);
	border: 1px rgba(234, 234, 234,0.8) solid;
	display: inline;
}

i:hover{
	color: rgb(65, 171, 107);
	cursor: pointer;
}

.timeline{
	background-color: #e75177;
	margin: 0 0 0 0;
	height: 1px;
	top: 0px;
	border: 0px;
	z-index: 3;
	position: relative;
}

.inthepast{
	background-color: rgba(227, 227, 227, 0.3);
}

.myalert{
	height: 50px !important;
	margin: 0 0 10px 0 !important;
	z-index: 10000 !important;
	position: fixed;
	bottom: 80%;
	right: 20px;
}

.everyweek{
	display: none;
	width: inherit !important;
}

.close{
	color: red;
}

/*club*/
ul.list-club{
	list-style-type: none;
	padding-left: 0px;
}

ul.list-club li a{
	text-decoration: none;
	color: #333333;
}

ul.list-club li a:hover{
	text-decoration: none;
	color: #333333;
}

ul.list-club li:hover{
	background-color: #cee0f4;
	cursor: pointer;
}

ul.list-club li{
	padding: 3px 0 2px 0;
}

span.club-header{
	font-size:18px;
	color: #366378;
}

.addmember{
	width: inherit;
}

ul.list_recommend{
	list-style-type: none;
	padding-left: 0px;
	box-shadow: 2px 2px 2px #888888;
	background-color: #f5f5f5;
	position: absolute;
	z-index: 5;
}

ul.list_recommend li{
	margin: 5px 0px 5px 10px;
}

ul.list_recommend li:hover{
	background-color: #cee0f4;
	cursor: pointer;
}

.member_list{
	display: block;
	float: left;
	background-color: #366378;
	color: white;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list_user_choosen{
	list-style-type: none;
	padding-left: 0px;
	width: 100%;
}

.club_name{
	position: absolute;
	z-index: 2;
	bottom: 0px;
	left: 0px;
	padding-left: 20px;
	color: #c5bbb6;
}

.leave_club_btn{
	position: absolute;
	z-index: 2;
	bottom: 0px;
	right: 0px;
	margin-right: 40px;
	margin-bottom: 20px;
}

.cover-icon{
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	margin-right: 40px;
	margin-top: 20px;
	color: #c5bbb6;
}

/*SIDEBAR*/
ul.list_user_command{
	list-style-type: none;
	padding-left: 0px;
}

ul.list_user_command li{
	margin: 5px 0px 5px 10px;
}

ul.list_user_command li:hover, ul.list-search-result li:hover{
	background-color: #cee0f4;
	cursor: pointer;
}

ul.list_user_command-club li a{
	text-decoration: none;
	color: #333333;
}

ul.list-list_user_command li a:hover{
	text-decoration: none;
	color: #333333;
}

ul.list-search-result{
	list-style-type: none;
	padding-left: 5px;
}


/*media*/
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.calendar_content{
		margin-left: 50px;
		width: 50%;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
