<div ng-show = "isfounddata">

  <div class="marginbot30 margintop10">
    <h1 style="display:inline;">{{branch.branch.name}}</h1>
    <!-- <rating ng-model="rate" readonly="isReadonly" ng-hover="hoveringOver(value)" on-leave="ishoverstar = false"></rating>
    <span ng-hide = "ishoverstar">({{rate}}/5)</span>
    <span ng-show = "ishoverstar">({{overstar}}/5)</span>
    <a href="#/{{branch.branch.name}}/review">Reviews</a> -->
  </div>

  <div class="row margintop10">
    <div class="col-lg-3 col-sm-4">
      <div style="display:inline-block; margin-bottom: -20px;">
        <datepicker ng-model="dt" show-weeks="false" class="well well-sm" ng-click="date_change()"></datepicker>
      </div>

      <h4 class="marginbot5">Bảng phí</h4>
      <div class="fee_content">
        <ul>
          <li class="marginbot10" ng-repeat= "asset_category in branch.asset_categories">
            <span>{{asset_category.name}}</span>
            <table border="1">
              <tr>
                <th class="text-center">Thời gian</th>
                <th class="text-center">Giá(,000 VNĐ)</th>
              </tr>
              <tr ng-repeat= "fee in asset_category.fees">
                <td class="text-center">{{fee.begin_time}} - {{fee.end_time}}</td>
                <td class="text-center">{{fee.price}}</td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>

    <div class="calendar_content col-lg-9">
      <hr class="timeline" ng-show='showtimeline'>
      <table class="tablebooking">
        <thead>
          <tr>
            <th class="text-center" style="width: 50px !important">Time</th>
            <th class="text-center" ng-repeat= "asset in branch.assets">{{asset.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start= "hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">
            <td class="padding10 text-center" rowspan="5" style="width:50px !important;">{{hour}}:00</td>
          </tr>
          <tr class="time_td" time="{{hour}}">
            <td id= "td_{{hour}}_{{asset._id.$oid}}" ng-click = "fast_book_open(hour,asset._id.$oid, $event)" ng-mouseenter="showtimeintd(hour,$event,true)" ng-mouseleave="showtimeintd(hour,$event,false)" ng-repeat= "asset in branch.assets"></td>
          </tr>
          <tr class="time_td" time="{{hour+0.25}}">
            <td id="td_{{hour}}_15_{{asset._id.$oid}}" ng-click = "fast_book_open(hour+0.25,asset._id.$oid, $event)" ng-mouseenter="showtimeintd(hour+0.25,$event,true)" ng-mouseleave="showtimeintd(hour+0.25,$event,false)" ng-repeat= "asset in branch.assets"></td>
          </tr>
          <tr class="time_td" time="{{hour+0.5}}">
            <td id="td_{{hour}}_30_{{asset._id.$oid}}" ng-click = "fast_book_open(hour+0.5,asset._id.$oid, $event)" ng-mouseenter="showtimeintd(hour+0.5,$event,true)" ng-mouseleave="showtimeintd(hour+0.5,$event,false)" ng-repeat= "asset in branch.assets"></td>
          </tr>
          <tr class="time_td" time="{{hour+0.75}}" ng-repeat-end>
            <td id="td_{{hour}}_45_{{asset._id.$oid}}" ng-click = "fast_book_open(hour+0.75,asset._id.$oid, $event)" ng-mouseenter="showtimeintd(hour+0.75,$event,true)" ng-mouseleave="showtimeintd(hour+0.75,$event,false)" ng-repeat= "asset in branch.assets"></td>
          </tr>
        </tbody>
      </table>
      <div id= "ticket_temp" class="ticket">
        <span>{{hour_begin}} - {{hour_end}}</span><br>
        <span>Gia: {{price}}</span>
      </div>
    </div>
  </div>

  <div id='minibooking' class="boxbooking">
    <button type="button" class="close" style="color: red" aria-hidden="true" ng-click="close_minibooking()">&times;</button><br>
    <form>
      <p class="marginbot5">Thoi gian: {{ dt | date:'dd-MM-yyyy'}}, {{hour_begin}} - <select ng-options = "hour_end for hour_end in hour_end_list" ng-model= 'hour_end' ng-change='update_hour_end()'/></p>
      <p class="marginbot5">Dia diem: <a href="">{{branch.branch.name}}</a></p>

      <div ng-show="signedIn()"><p class="marginbot5">Dat boi: <a href="">{{customer_name}}</a></p></div>

      <p class="marginbot5">Gia: {{price}} (.000 VND)</p>
      <input type="checkbox" ng-model="iseveryweek" ng-change="viewweekbooking()"> Dat hang tuan<br>
      <div class="everyweek">
        <p class="input-group">
        <input type="text" show-weeks = "false" placeholder="Ngay ket thuc..." class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="dt_end_everyweek_booking" is-open="opened" min-date="dt" close-text="Tat" clear-text = "Xoa" current-text="Hom nay" readonly="true" ng-click="open($event)"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <button class="btn btn-default" ng-click="ticket_create(dt,hour_begin,hour_end)">Đặt</button>
    </form>
  </div>

  <div id='miniedit' class="boxbooking">
    <button type="button" class="close" style="color: red" aria-hidden="true" ng-click="close_miniedit()">&times;</button><br>
    <p class="marginbot5">Thoi gian: {{dt | date: 'dd-MM-yyyy'}}, <span id='time_ticket'></span></p>
    <p id='price_ticket' class="marginbot5"></p>
    <p id='ticket_id_hidden' hidden= 'true'></p>
    <button class="btn btn-primary pull-left marginright20" type="submit" ng-click="ticket_edit()">Xem chi tiet</button>
    <button class="btn btn-danger pull-right marginright20" type="submit" ng-click="ticket_delete()">Xoa</button>
  </div>
</div>

<div ng-hide="isfounddata">
  <h3>Not found this bussiness</h3>
</div>
