<div ng-show = "isfounddata">
  <h1 style="display:inline;">{{branch.branch.name}}</h1>
  <rating ng-model="rate" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="ishoverstar = false"></rating>
  <span ng-hide = "ishoverstar">({{rate}}/5)</span>
  <span ng-show = "ishoverstar">({{overstar}}/5)</span>
  <a href="#/{{branch.branch.name}}/review">Reviews</a>

  <br>
  <div class="row margintop20">
    <div class="col-lg-3 col-sm-4">
      <a class="btn btn-danger marginbot10" href="#/{{branch.branch.name}}/booking">Đặt sân</a>
      <div style="display:inline-block; margin-bottom: -20px;">
        <datepicker ng-model="dt" show-weeks="false" class="well well-sm"></datepicker>
      </div>

      <h4 class="marginbot5">Bảng phí</h4>
      <ul>
        <li class="marginbot10" ng-repeat= "asset_category in branch.asset_categories">
          <span>{{asset_category.name}}</span>
          <table border="1">
            <tr>
              <th class="text-center">Thời gian</th>
              <th class="text-center">Giá(,000 VNĐ)</th>
            </tr>
            <tr ng-repeat= "fee in asset_category.fees">
              <td class="text-center">{{fee.begin_time}} - {{fee.end_time}}</td>
              <td class="text-center">{{fee.price}}</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

    <div class="" style="overflow: auto; height: 510px;" id = "table-scroll">
      <table class="tablebooking">
        <tr>
          <th class="text-center" style="width:50px">Time</th>
          <th class="text-center" ng-repeat= "asset in branch.assets">{{asset.name}}</th>
        </tr>
        <tbody ng-repeat= "hour in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]">
          <tr>
            <td class="padding10 text-center" rowspan="2">{{hour}}:00</td>
            <td id= "td_{{hour}}_{{asset}}" ng-click = "fast_book_open(hour,$event)" ng-repeat= "asset in branch.assets"></td>
          </tr>
          <tr>
            <td id="td_{{hour}}_half" ng-click = "fast_book_open(hour+0.5,$event)" ng-repeat= "asset in branch.assets"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="minibooking" ng-show = "minibooking">
    <button type="button" class="close" aria-hidden="true" ng-click="close_minibooking()">&times;</button><br>
    <p>Thoi gian: {{ dt | date:'fullDate'}}, {{hour_begin}} - {{hour_end}}</p>
    <p>Dia diem: <a href="">{{branch.branch.name}}</a></p>
    <p>Dat boi: <a href="" title="">{{user.fullname}}</a>, sdt: {{user.phone}}</p>
    <button class="btn btn-default pull-left marginright20 margintop10" type="submit">Đặt</button>
    <button class="btn btn-danger margintop10 pull-left" type="submit">Hủy</button>
  </div>

  <div class="miniedit" ng-show = "miniedit">
    <a class="pull-right" href="">X</a><br>
    <p>Thoi gian: {{ dt | date:'fullDate'}}, 3pm - 4pm</p>
    <p>Dia diem: <a href="">San van dong Sporta</a></p>
    <p>Dat boi: <a href="" title="">Huu Trung</a>, sdt: 01279012790</p>
    <input type="checkbox" name="notification" value="Sporta">Dat hang tuan tu day den <input class="datepicker" type="text" size='10'><br>
    <button class="btn btn-default pull-left marginright20 margintop10" type="submit">Đặt</button>
    <button class="btn btn-danger margintop10 pull-left" type="submit">Hủy</button>
  </div>
</div>



<div ng-hide="isfounddata">
  <h3>Not found this bussiness</h3>
</div>
