<div class="modal-header" style="background-color: #cee0f4">
  <span style="font-size: 18px; text-color: black;">Tạo câu lạc bộ mới</span>
</div>
<div class="modal-body row">
  <div class= "col-lg-12">
    <div class="row padding10">
      <div class="col-sm-3">
        <label>Tên CLB*</label>
      </div>
      <div class="col-sm-9">
        <input name="name" type="text" class="form-control" data-ng-model="club.name" required>
      </div>
    </div>

    <div class="row padding10">
      <div class="col-sm-3">
        <label>Thêm thành viên*</label>
      </div>
      <div class="col-sm-9">

        <ul class="list_user_choosen">
          <li class="member_list" ng-repeat="member in club.members"><i class="fa fa-times" ng-click="remove_member(member)"></i> {{member.fullname}}</li>
        </ul>

        <input type="text" placeholder= "Tìm kiếm thành viên..." class="form-control" ng-model="user_find" ng-change="find_user()">


          <ul ng-show="show_recommend_user()" class="list_recommend search_result" style="width: 419px;">
            <li ng-repeat="user in users_list" ng-click= "add_to_members(user)">{{user.fullname}}</li>
          </ul>

      </div>
    </div>

    <div class="row padding10">
      <div class="col-sm-3">
        <label>Mô tả</label>
      </div>

      <div class="col-sm-9">
        <textarea  rows="4" cols="50" class="form-control" data-ng-model="club.description">
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Tạo mới</button>
  <button class="btn btn-default" ng-click="cancel()">Hủy</button>
</div>
