<div ng-controller="sidebarCtrl">
  <div>
    <span>
      <img fallback-src="sportaLogo" ng-src="{{user.avatar.url|logo}}" class="profile-picture-sidebar">
      <a ui-sref="trangCaNhan({username: user.username})" style="text-decoration: none;">{{user.fullname}}</a>
    </span>
    <ul class="list-club margintop10">

      <li ng-if="!isbussinessadmin()" ui-sref="khTkDoanhNghiep"><a>Đăng ký doanh nghiệp</a></li>
      <li ng-if="isbussinessadmin()"><a href="/bussiness-admin">Quản lý doanh nghiệp</a></li>
      <li ng-if="isSystemAdmin()"><a href="/system-admin">Quản lý sporta</a></li>
      <li ui-sref="dangBai"><a><span class="fa fa-plus"></span> Viết bài</a></li>
      <li ui-sref="shareVenue"><a><span class="fa fa-plus"></span> Chia sẻ địa điểm</a></li>
    </ul>
  </div>

  <div class="club margintop20" >

    <span class="club-header">Câu lạc bộ
      <div class="pull-right">
        <a ng-click="opennewclub()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </span>

    <ul class="list-club">
      <li ng-repeat = "club in clubs" ng-click="gotoclub(club.id.$oid)">
        <a><i class="fa fa-users"></i> {{club.name}}</a>
      </li>
    </ul>

  </div>

</div>