<div ng-controller="sidebarCtrl">
  <div>
    <span>
      <img fallback-src="sportaLogo" ng-src="{{user.avatar.url|logo}}" class="profile-picture-sidebar">
      <a ui-sref="trangCaNhan({username: user.username})" style="text-decoration: none;">{{user.fullname}}</a>
    </span>
    <ul class="list-club margintop10">

      <li ng-if="!isbussinessadmin()" ui-sref="khTkDoanhNghiep"><a>Đăng ký doanh nghiệp</a></li>
      <li ng-if="isbussinessadmin()"><a href="/bussiness-admin">Quản lý doanh nghiệp</a></li>
      <li ng-if="isSystemAdmin()"><a href="/system-admin#/duyet-doanh-nghiep">Quản lý sporta</a></li>
      <li ui-sref="dangBai"><a><span class="fa fa-plus"></span> Viết bài</a></li>
      <li ui-sref="shareVenue"><a><span class="fa fa-plus"></span> Chia sẻ địa điểm</a></li>
    </ul>
  </div>

  <div class="club margintop20" >

    <span class="club-header">Câu lạc bộ
      <div class="pull-right">
        <a ng-click="opennewclub()">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </span>

    <ul class="list-club">
      <li ng-repeat = "club in clubs" ng-click="gotoclub(club.id.$oid)">
        <a><i class="fa fa-users"></i> {{club.name}}</a>
      </li>
    </ul>

  </div>

  <div class="club margintop20" >
    <span class="club-header">Sở thích</span>
    <div style=" margin-top: 10px;">
      <p style="font-size: 10px; display:inline-block;" class="label label-primary"><span style="float:left; display: inline-block; margin: 5px 10px 3px 3px;">Bóng đá</span>  <span class="close">×</button></p>
      <p style="font-size: 10px; display:inline-block;" class="label label-primary"><span style="float:left; display: inline-block; margin: 5px 10px 3px 3px;">Bóng đá</span>  <span class="close">×</button></p>
      <p style="font-size: 10px; display:inline-block;" class="label label-primary"><span style="float:left; display: inline-block; margin: 5px 10px 3px 3px;">Bóng đá</span>  <span class="close">×</button></p>
      <p style="font-size: 10px; display:inline-block;" class="label label-primary"><span style="float:left; display: inline-block; margin: 5px 10px 3px 3px;">Bóng đá</span>  <span class="close">×</button></p>
    </div>
    <button data-ng-click="openInterestModal()"  class="btn btn-block btn-success" type="button" style="margin-top:10px;"><span class="glyphicon glyphicon-plus"></span> Thêm sở thích</button>

  </div>

</div>

<script type="text/ng-template" id="modalIntereset.html">
        <div class="modal-header">
              <button type="button" class="close" 
                 data-dismiss="modal" aria-hidden="true">
                    &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                 Thêm sở thích
              </h4>
          </div>
          <div class="modal-body">
              <div class="input-group">
                  <input data-ng-model="searchedText" type="text" class="form-control" placeholder="Tìm kiếm thể loại yêu thích" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2"><span aria-hidden="true" class="glyphicon glyphicon-heart"></span></span>
              </div>
              
              <div class="list-new-tags" style="max-height: 150px; overflow-y: auto; text-align: center;margin-top: 20px; text-align: justify; padding-right: 5px;">
                <p ng-repeat="tag in listTags | filter:searchedText | orderBy:'name'" style="font-size: 10px; display:inline-block;margin-right: 5px;" class="label label-success"><span style="float:left; display: inline-block; margin: 5px 10px 3px 3px;">{{tag.name}}</span>  <button ng-click="addInterest(tag)" class="close">+</button></p>
                <p ng-if="listTags.length == 0" style="text-align: center;">Trống</p>
              </div>
              
              <hr>

              <div class="list-new-tags" style="max-height: 150px; overflow-y: auto; text-align: center;margin-top: 20px; text-align: justify; padding-right: 5px;">
                 <p ng-click ="deleteInterest(tag)" ng-repeat="tag in currentUser.interests"  style="font-size: 10px; display:inline-block;margin-right: 5px;" class="label label-primary"><span style="float:left; display: inline-block; margin: 5px 10px 3px 3px;">{{tag.name}}</span>  <button class="close">×</button></p>
                 <p ng-if="currentUser.interests.length == 0" style="text-align: center;">Trống</p>
              </div>
              
            </div>
          <div class="modal-footer">
                  <button class="btn btn-success btn-block" ng-click="ok()">Xong</button>
          </div>
    </script>