<!-- <div ng-controller="commentCtrl">This is comment controller</div> -->

<div class="row" style="margin-top:-15px;">

    <!-- BEGIN LEFT COLUMN -->
    <div class="col-md-2">
      <section ng-include="'appJS/modules/_groupModule.html'"></section>
    </div>
    <!-- END LEFT COLUMN -->

    <!-- BEGIN MAIN COLUMN -->
    <div class="col-md-6 detail-main-column">
          <span style="border: 1px solid #337AB7; display:block;margin:0px -15px; margin-bottom: 10px; background-color: #337AB7; text-align: center; font-size: 1.4em; padding: 10px 0px; color:#FFFFFF;"><strong>CHI TIẾT BÀI VIẾT</strong></span>
          <div flash-message="5000"></div>
          <ul class="media-list">
               <li class="media">
                  <div class="media-left">
                    <a href="#">
                     <img fallback-src="sportaLogo"  class="img-circle img-responsive profile-picture" class="media-object" ng-src="{{post.user.avatar.thumb.url | logo}}" 
                     alt="Generic placeholder image" width="64px" height="64px" style="min-width: 44px; min-height: 44px;">
                    </a>
                  </div>
                  
                  <div class="media-body">
                    <div>
                      <h5 class="media-heading pull-left">{{post.user.username}}</h5>
                      <small class="pull-right" style="font-weight: 600;">{{post.created_at | timeago}}</small>
                    </div>
                    <div class="clearfix"></div>
                     <h4 class="media-heading">{{post.title}}</h4>
                     <div>{{post.body}}</div>
                      <div class="detail-post-images" style="text-align: center; margin-top: 20px;">
                          <a ng-click="showImage(photo)" ng-repeat="photo in post.photos"><img src="{{photo.image.url | logo}}" width="220px" height="220px"></a>
                      </div>
                      <div section-id="for-not-published" ng-if="!post.published">
                          <div class="likes">
                            <div role="group" class="btn-group pull-left">  
                                                        <a class="btn btn-default" ui-sref="editPost({id: post._id.$oid})"><span class="glyphicon glyphicon-edit"></span> Sửa bài viết</a>
                                                        <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-trash"></span> Xóa bài viết</a>
                            </div>
                            <span class="label label-danger pull-right" style="font-size: 1em; font-weight: 500; display:inline-block ;margin-top: 5px;">{{post.status.name}}</span>
                          </div>
                      </div>

                      <div section-id="for-published" ng-if="post.published">
                          <div class="likes">
                                <!-- like su dung glyphicon glyphicon-thumbs-up va .like-icon, unlike thi su dung glyphicon glyphicon-thumbs-down va unlike-icon -->
                                <span tooltip="Thích" ng-hide="post.isLiked" class="glyphicon glyphicon-thumbs-up like-icon" ng-click="likePost()"></span>
                                <span tooltip="Bỏ thích" ng-show="post.isLiked" class="glyphicon glyphicon-thumbs-down unlike-icon" ng-click="unlikePost()"></span>
                                
                                <a  ng-mouseenter="getKFirstLikes()"  tooltip-html-unsafe="{{likesHtml}}" ng-click="showAllLikes()" style="cursor: pointer; margin-left: 10px;" >{{post.like_count}} người thích</a>

                                <button class="btn btn-success">Lưu bài viết</button>
                          </div>
                          <section id="listComments" ng-include="'appJS/chiTietBaiViet/_listComments.html'"></section>
                      </div>

                    </div>
                
                    
               </li>
            </ul>

    </div>
      <!-- END MAIN COLUMN -->

      <!-- BEGIN RIGHT COLUMN -->
      <div class="col-md-4">  
        <section ng-include="'appJS/modules/postSearchModules/_postSearchModule.html'"></section>
      </div>
      <!-- END RIGHT COLUMN -->
  </div>


<!-- De cho chua khoang trong duoi day -->
    <div style="margin-bottom: 100px;"></div>

    <!-- BEGIN MODAL HIEN THI HINH ANH -->
    <script type="text/ng-template" id="showImageModal.html">
            <div class="modal-body my-modal-image">
                  <img src="{{photo.image.url}}" width="100%" height="100%">
                  <!-- Arrow Left -->
                  <span left-arrow-pressed="previous()" ng-click="previous()" u="arrowleft" class="jssora02l" style="top: 50%; left: 8px;">
                  </span>
                  <!-- Arrow Right -->
                  <span right-arrow-pressed="next()"  ng-click="next()" u="arrowright" class="jssora02r" style="top: 50%; right: 8px">
                  </span>
            </div>
    </script>
     <!-- BEGIN MODAL HIEN THI HINH ANH -->


     <!-- TAI SU DUNG CHO COMMENT REPLIES -->
     <!-- BEGIN MODAL HIEN THI DANH SACH NGUOI THICH -->
     <script type="text/ng-template" id="showAllLikesModal.html">
              <div class="modal-header">
                  <button type="button" class="close" 
                     data-dismiss="modal" aria-hidden="true" ng-click="$close()">
                        &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                     Danh sách thành viên thích bài viết
                  </h4>
              </div>
              <div class="modal-body">
                 <span ng-show="isLoading" style="display: block;margin: 10px auto; width:30px;">
                  <img width="22px" height="22px" src="/assets/application/placeholder/spinner_loading.gif">
                 </span>
                 <h5 style="text-align: center;" ng-if="allLikes.length == 0">Chưa có ai thích bài viết này</h5>
                  <div class="list-person-like" style="max-height:500px; overflow-y: auto;">
                     <div  class="person-like" ng-repeat="like in allLikes">
                          <img src="{{like.user.avatar.thumb.url | logo}}" class="pull-left img-circle" width="64px" height="64px">
                          <div class="pull-left person-info">
                            <strong>{{like.user | displayName}}</strong>
                          </div>
                    </div>
                 
                  </div>

            </div>
     </script>
     <!-- END MODAL HIEN THI DANH SACH NGUOI THICH -->
   


</div>

<script type="text/javascript">
     autosize(document.querySelectorAll('textarea'));

     $(document).ready(function() {
       $('[data-toggle="tooltip"]').tooltip({
         placement: 'top'
       });
     });

     //For modal
     $(document).ready(function() {
       $("#list-people-like").click(function() {
         $('#myModal2').modal('toggle');
       });
     });
</script>


<style type="text/css">


</style>