<div data-ng-controller="webSocketCtrl">
    <input type="text" ng-model="message">
    <button class="btn btn-success" ng-click="onSendMessage()">Send</button>
    <ol>
        <li ng-repeat="message in messages">
          <div ng-if="message.user == user"><span>Tôi:</span><span>{{message.content}}</span></div>
          <div  ng-if="message.user != user"><span>{{message.user}}:</span><span>{{message.content}}</span></div>
        </li>
    </ol>
</div>
<button class="btn btn-success" ng-click="scrollTo()">scroll</button>



<!-- MAP HERE -->
<div class="row">
  <div class="col-sm-12">
    <div class="map"> 
     <!--  <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Kuningan,+Jakarta+Capital+Region,+Indonesia&amp;aq=3&amp;oq=kuningan+&amp;sll=37.0625,-95.677068&amp;sspn=37.410045,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Kuningan&amp;t=m&amp;z=14&amp;ll=-6.238824,106.830177&amp;output=embed"> </iframe> 
       -->
     <!--    <div style="margin-top: 200px;"></div>
         <div map-lazy-load="http://maps.google.com/maps/api/js">
                <map center="-25.363882,131.044922">
                      <marker on  position="-25.363882,131.044922" title="Hello World!" on-click="clickMarker()"></marker>
                </map>
        </div> -->
    </div>
  </div>
</div>
<!--END  MAP-->

<!-- LIST POST HERE -->
<div class="row">
      <!-- GROUP -->
      <div class="col-sm-2">
           <section ng-include="'appJS/modules/_groupModule.html'"></section>
           <section ng-include="'appJS/modules/_vietBaiModule.html'"></section>
      </div>
      <!-- END GROUP -->

      <!--BEGIN DANH SACH CAC POST -->
      <div id="listPost" class="col-sm-10">
          <section ng-include="'appJS/home/posts/_listPosts.html'" ></section>
      </div>
      <!--END DANH SACH CAC POST -->
</div>

<!-- END LIST POST  -->