<section class="wrapper">
  <!--overview start-->
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
        <li><i class="fa fa-laptop"></i>Dashboard</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-primary">
        <header class="panel-heading"> Lọc bài viết </header>
        <div class="panel-body">
          <form role="form" class="form-inline">
            <div class="form-group">
              <label for="exampleInputEmail2" class="sr-only">Từ ngày</label>
              <input type="email" placeholder="Từ ngày" id="exampleInputEmail2" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2" class="sr-only">Tới ngày</label>
              <input type="email" placeholder="Tới ngày" id="exampleInputEmail2" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2" class="sr-only">Tìm kiếm theo text</label>
              <input type="email" placeholder="Tìm kiếm theo text..." id="exampleInputEmail2" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2" class="sr-only">Tìm kiếm theo text</label>
              <input type="email" placeholder="Tìm kiếm theo text..." id="exampleInputEmail2" class="form-control">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword2" class="sr-only">Tìm kiếm theo</label>
              <select class="form-control">
                <option>Tên bài viết</option>
                <option>Nội dung bài viết</option>
                <option>Người sở hữu</option>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
          </form>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-warning">
        <header class="panel-heading"> Bài viết</header>
        <!--Bài viết -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover my-table posts-table" >
            <thead>
              <tr>
               <th> #</th>
               <th>Chủ đề</th>
               <th>Mô tả ngắn</th>
               <th>Người viết</th>
               <th>Ngày</th>
               <th>Tình trạng</th>
               <th>Chi tiết</th>
             </tr>
           </thead>
           <tbody>
            <tr ng-repeat="(index, post) in posts | orderBy: '-updated_at'">
              <td>{{index + 1}}</td>
              <td style="max-width:250px;">{{post.title}}</td>
              <td style="max-width:250px;">{{post.body | shortDesc}}</td>
              <td><a href="#">{{post.user.username}}</a></td>
              <td>{{post.updated_at |  date:'dd/m/y, h:mm a'}}</td>
              <td>
                <span ng-if="post.status.name=='Từ chối'" class="label label-danger">{{post.status.name}}</span>
                <span ng-if="post.status.name=='Đã duyệt'" class="label label-success">{{post.status.name}}</span>
              </td>
              <td>
                <input ng-click="ontogglePost(post)" ng-model="post.isChecked" class="tgl tgl-skewed" id="{{post._id.$oid}}" type="checkbox">
                <label class="tgl-btn" data-tg-off="Thêm" data-tg-on="Bỏ" for="{{post._id.$oid}}"></label>
              </td>
            </tr>
            <tr ng-if="posts.length == 0"><td style="text-align: center;" colspan="7"> Trống  </td></tr>
          </tbody>
        </table>

      </div>
      <div ng-if="isLoadingPost" style="text-align: center;">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>

      <!-- End bài viết -->
    </section>
    <div class="col-lg-12" style="margin-top: -30px;">
      <div class="text-center">
        <paging
        class="small"
        page="pageConfig.currentPage"
        page-size="pageConfig.pageSize"
        total="pageConfig.total"
        adjacent="{{pageConfig.adjacent}}"
        dots="{{pageConfig.dots}}"
        scroll-top="{{pageConfig.scrollTop}}"
        hide-if-empty="{{pageConfig.hideIfEmpty}}"
        ul-class="{{pageConfig.ulClass}}"
        active-class="{{pageConfig.activeClass}}"
        disabled-class="{{pageConfig.disabledClass}}"
        show-prev-next="{{pageConfig.showPrevNext}}"
        paging-action="onPageSelected('Paging Clicked', page)">
      </paging>
    </div>
  </div>
</div>
</div>

<div class="row">
 <div class="col-lg-12">
  <section class="panel panel-success">
    <header class="panel-heading">Danh sách các bài viết hiển thị chi tiết</header>
    <div class="panel-body">
      <div class="profile-activity">
        <div ng-animate="'animate'" class="act-time" ng-repeat="post in addedPosts">
          <div class="activity-body act-in"> <span class="arrow"></span>
            <div class="text">
              <a href="#" class="activity-img"><img class="avatar" ng-src="{{post.user.avatar.url}}" alt=""></a>
              <p class="attribution"><a href="#">{{post.user.username}}</a> lúc {{post.updated_at |  date:'h:mm a, dd/m/y'}}</p>
              <p><a href="../system-admin/chitiet-demo.html" target="_blank" class="my-title">{{post.title}}</a></p>
              <p>{{post.body}}
              </p>
              <div class="post-images">
               <img style="cursor: pointer;" ng-click="showImage(post, photo)" style="margin-left: 5px;" ng-repeat="photo in post.photos" ng-src="{{photo.image.large_thumb.url}}" width="100px" height="100px">
             </div>
             <div class="list-control-buttons btn-group pull-right">
              <!-- THAO TAC CHO 1 BAI VIET DA DUYET -->
              <div ng-if="post.status.name == 'Đã duyệt'">
                <button ng-click="denyPost(post)" class="btn btn-danger">Không duyệt</button>
                <button ng-click="onIgnore(post)" class="btn btn-info">Bỏ qua</button>
              </div>
              <div ng-if="post.status.name == 'Từ chối'">
               <button ng-click="acceptPost(post)" class="btn btn-danger">Duyệt</button>
               <button ng-click="onIgnore(post)" class="btn btn-info">Bỏ qua</button>
             </div>
           </div>
         </div>

       </div>
     </div>
     <div  style="text-align: center"  ng-if="addedPosts.length == 0">Trống</div>
   </div>
 </div>
</section>
</div>
</div>
<!-- project team & activity end -->
</section>
<div class="list-modals">
 <!-- BEGIN MODAL HIEN THI HINH ANH -->
 <script type="text/ng-template" id="showImageModal.html">
  <div class="modal-body my-modal-image">
    <img src="{{photo.image.url}}" width="100%" height="100%">
    <!-- Arrow Left -->
    <span left-arrow-pressed="previous()" ng-click="previous()" u="arrowleft" class="jssora02l" style="top: 50%; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span right-arrow-pressed="next()"  ng-click="next()" u="arrowright" class="jssora02r" style="top: 50%; right: 8px">
    </span>
  </div>
</script>
<!-- BEGIN MODAL HIEN THI HINH ANH -->
</div>

<style type="text/css">
  .animate-enter,
  .animate-leave
  {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
  }

  .animate-leave.animate-leave-active,
  .animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  .animate-enter.animate-enter-active,
  .animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
  }
</style>