<div id="login-modal"  class="modal fade" ng-controller="authCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal"
        aria-hidden="true">&times;</button>
        <h1>LOGIN</h1>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
        <form  class="form-horizontal" role="form" name="login_form">
            <!-- Email -->
            <div class="form-group" >
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhap email" ng-model="user.email" required  ensure-unique-data="{{user.email}}" >
                <div class="has-error" data-ng-show="login_form.email.$dirty && login_form.email.$invalid">
                    <span class="help-block" ng-show="login_form.email.$error.required">Vui long nhap email</span>
                    <span class="help-block" ng-show="login_form.email.$error.email">Dia chi email khong hop le</span>
                    
                </div>
              </div>
            </div>
            <!-- Password -->
            <div class="form-group" >
              <label class="control-label col-sm-2" for="password">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Nhap password" ng-model="user.password" required ng-minlength=8 ng-maxlength=20>
                <div class="has-error" data-ng-show="login_form.password.$dirty && login_form.password.$invalid">
                    <span class="help-block" ng-show="login_form.password.$error.required">Vui long nhap password</span>
                    <span class="help-block" ng-show="login_form.password.$error.minlength">Password it nhat 8 ki tu</span>
                    <span class="help-block" ng-show="login_form.password.$error.maxlength">Password nhieu nhat 20 ki tu</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" ng-click="login()" class="btn btn-success" ng-disabled="login_form.$invalid">Đăng nhập</button>
              </div>
              <div class="col-sm-2" style="margin-left:5px;">
                <button id="login-on-register" type="submit" class="btn btn-success"> Đăng kí </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>