<form id="form1" name="form1" ng-controller="authCtrl" >
  <table width="100%" border="0" class="table-login">
    <tbody>
    <tr>
        <td align="right"><label for="textfield">*First name:</label></td>
        <td colspan="2"><input name="textfield" type="text" class="form-control" id="textfield" ng-model="user.firstname" /></td>
      </tr>
      <tr>
        <td align="right"><label for="textfield2">*Last name:</label></td>
        <td colspan="2"><input name="textfield2" type="text" class="form-control" id="textfield2" ng-model="user.lastname" /></td>
      </tr>
      <tr>
        <td align="right"><label for="textfield2">*Username:</label></td>
        <td colspan="2"><input name="textfield2" type="text" class="form-control" id="textfield2" ng-model="user.username"/></td>
      </tr>
      <tr>
        <td align="right"><label for="textfield">*Email:</label></td>
        <td colspan="2"><input name="textfield" type="text" class="form-control" id="textfield" ng-model="user.email"/></td>
      </tr>
      <tr>
        <td align="right"><label for="textfield2">*Password:</label></td>
        <td colspan="2"><input name="textfield2" type="password" class="form-control" id="textfield2" ng-model="user.password"/></td>
      </tr>
      <tr>
        <td align="right"><label for="textfield2">*Re-type password:</label></td>
        <td colspan="2"><input name="textfield2" type="password" class="form-control" id="textfield2" ng-model="user.confirmation_password"/></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2" align="left"><input type="checkbox" value="agree" /> I agree to the
        <a href="#"> Terms of Use and Privacy Policy</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="left"><input type="button" 
          value="Sign up" class="btn btn-theme" ng-click="register()" /></td>
        <td align="right"><input id="login-on-register" type="button" value="Login" class="btn btn-theme" /></td>
    </tbody>
  </table>
  &nbsp;
</form>