<h2>HER ER {{2+3}}</h2>
<section class="wrapper" id="informationPos">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-user-md"></i> Thông tin</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Quản lý</a></li>
            <li><i class="icon_documents_alt"></i>Thông tin</li>
          </ol>
        </div>
      </div>
      <div class="row"> 
        <!-- profile-widget -->
        <div class="col-lg-12">
          <div class="profile-widget profile-widget-info">
            <div class="panel-body">
              <div class="col-lg-2 col-sm-2">
                <h4>{{user.firstname + " " + user.lastname}}</h4>
                <div class="follow-ava"> <img src="img/profile-widget-avatar.jpg" alt=""> </div>
                <h6>Thành viên</h6>
              </div>
              <div class="col-lg-4 col-sm-4 follow-info">
                <p>{{user.bussiness.short_desc}}</p>
                <p>Email: {{user.email}}</p>
                <p><i class="fa fa-twitter">jenifertweet</i></p>
                <h6> <span><i class="icon_clock_alt"></i>11:05 AM</span> <span><i class="icon_calendar"></i>25.10.13</span> <span><i class="icon_pin_alt"></i>NY</span> </h6>
              </div>
              <div class="col-lg-2 col-sm-6 follow-info weather-category">
                <ul>
                  <li class="active"> <i class="fa fa-comments fa-2x"> </i><br>
                    Contrary to popular belief, Lorem Ipsum is not simply </li>
                </ul>
              </div>
              <div class="col-lg-2 col-sm-6 follow-info weather-category">
                <ul>
                  <li class="active"> <i class="fa fa-bell fa-2x"> </i><br>
                    Contrary to popular belief, Lorem Ipsum is not simply </li>
                </ul>
              </div>
              <div class="col-lg-2 col-sm-6 follow-info weather-category">
                <ul>
                  <li class="active"> <i class="fa fa-tachometer fa-2x"> </i><br>
                    Contrary to popular belief, Lorem Ipsum is not simply </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- page start-->
      <div class="row" data-ng-controller="tabCtrl">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading tab-bg-info">
              <ul class="nav nav-tabs">
                <li data-ng-class="{active: tabSelected === 'profile'}"> <a data-toggle="tab" data-ng-click="changeTab('profile')"> <i class="icon-user"></i> Thông tin </a> </li>
                <li data-ng-class="{active: tabSelected === 'edit-profile'}"> <a data-toggle="tab" data-ng-click="changeTab('edit-profile')"> <i class="icon-envelope"></i> Chỉnh sửa thông tin </a> </li>
                <li data-ng-class="{active: tabSelected === 'edit-account'}"> <a data-toggle="tab" data-ng-click="changeTab('edit-account')"> <i class="icon-envelope"></i> Chỉnh sửa tài khoản </a> </li>
              </ul>
            </header>
            <div class="panel-body ">
              <div class="tab-content "> 
                <!-- profile -->
                <div id="profile" class="tab-pane" data-ng-class="{active: tabSelected === 'profile'}">
                  <section class="panel">
                    <div class="bio-graph-heading"> Trang quản trị của doanh nghiệp thể thao {{user.bussiness.category}} </div>
                    <div class="panel-body bio-graph-info">
                      <h1>Thông tin doanh nghiệp</h1>
                      <div class="row">
                        <div class="bio-row">
                          <p><span>Tên</span>: {{user.bussiness.name}} </p>
                        </div>
                        <div class="bio-row">
                          <p><span>Lĩnh vực</span>: {{user.bussiness.category}}</p>
                        </div>
                        <div class="bio-row">
                          <p><span>Địa chỉ </span>: {{user.bussiness.address}}</p>
                        </div>
                        <div class="bio-row">
                          <p><span>Email </span>:{{user.email}}</p>
                        </div>
                        <div class="bio-row">
                          <p><span>Điện thoại </span>: {{user.bussiness.phone}}</p>
                        </div>
                        <div class="bio-row">
                          <p><span>Di động </span>:  TRONG</p>
                        </div>
                      </div>
                      <!-- Begin row cho bản đồ hiển thị địa chỉ doanh nghiệp -->
                      <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                        <header class="panel-heading"> Bản đồ vị trị</header>
                                        <div class="panel-body">
                                            <div class="main-map">
                                                    <div id="mainMap" style="width:100%; height:365px; margin:0 auto;"></div>
                                            </div> 
                                        </div>
                            </section>
                            
                        </div>
                      </div>
                      <!-- End row cho bản đồ hiển thị địa chỉ doanh nghiệp -->
                    </div>
                  </section>
                  <section>
                    <div class="row"> </div>
                  </section>
                </div>
                <!-- edit-profile -->
                <div id="edit-profile" class="tab-pane" data-ng-class="{active: tabSelected === 'edit-profile'}">
                  <section class="panel">
                    <div class="panel-body bio-graph-info">
                      <h1> Chỉnh sửa thông tin doanh nghiệp</h1>
                        <form class="form-horizontal" data-ng-submit="editBussiness()">
                            <!-- begin row cho thông tin chung và địa chỉ -->
                            <div class="row">
                                <!-- begin column cho thông tin chung -->
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading"> Chỉnh sửa thông tin chung </header>
                                        <div class="panel-body">
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">Tên doanh nghiệp*</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" data-ng-model="bussiness.name">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">Lĩnh vực hoạt động</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" data-ng-model="bussiness.category">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">Điện thoại</label>
                                            <div class="col-sm-10">
                                              <input type="text" class="form-control" data-ng-model="bussiness.phone">
                                            </div>
                                          </div>
                                          
                                          <div class="form-group">
                                            <label class="col-sm-2 control-label">Mô tả ngắn gọn</label>
                                            <div class="col-sm-10">
                                              <textarea  rows="4" cols="50" class="form-control" data-ng-model="bussiness.short_desc">
                                                                                      </textarea>
                                            </div>
                                          </div>
                                        </div>
                                  </section>
                                </div>
                                <!-- End column cho thông tin chung -->
                                
                                <!-- Begin column cho thông tin địa chỉ -->
                                <div class="col-lg-6">
                                    <section class="panel">
                                        <header class="panel-heading"> Chỉnh sửa thông tin địa chỉ </header>
                                        <div class="panel-body">
                                          <div class="form-group">
                                            <table width="100%">
                                              <tr>
                                                <td style="text-align:center">Địa chỉ</td>
                                                <td><input type="text" class="form-control">
                                                <td>
                                                <td><button type="button" class="btn btn-send">Tìm kiếm</button>
                                                <td>
                                              </tr>
                                            </table>
                                          </div>
                                          <div class="form-group">
                                            <div class="map">
                                              <div id="googleMap" style="width:90%; height:365px; margin:0 auto;"></div>
                                            </div>
                                          </div>
                                        </div>
                                   </section>
                                </div>
                                <!-- End column cho thông tin địa chỉ -->
                                
                            </div>
                            <!-- end row cho thông tin chung và địa chỉ-->
                            
                            <!-- Begin row cho thông tin mô ta chi tiết -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <section class="panel">
                                        <header class="panel-heading"> Thêm mô tả chi tiết </header>
                                        <div class="panel-body"> 
                                            <!--- CKEditor-->
                                              <div class="form-group">
                                                <label class="control-label col-sm-2">Mô tả chỉ tiết</label>
                                                <div class="col-sm-10">
                                                  <textarea class="form-control ckeditor" name="editor1" rows="6" 
                                                  data-ng-model="bussiness.description"></textarea>

                                                </div>
                                              </div>
                                            <!-- end CKEditor -->                                
                                 </section>
                                </div>
                            </div>
                            <!-- End row cho thông tin mô ta chi tiết-->
                                <div class="form-group">
                                              <div class="col-lg-offset-2 col-lg-10">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                                <button type="button" class="btn btn-danger" data-ng-click="clear()">Cancel</button>
                                 </div>
                            </div>   
                        </form>
                        <!-- end form chỉnh sửa thông tin -->
                    </div>
                  </section>
                </div>
                
                <!--- Edit account -->
                <div id="edit-account" class="tab-pane" data-ng-class="{active: tabSelected === 'edit-account'}">
                  <section class="panel">
                    <div class="panel-body bio-graph-info">
                      <h1> Chỉnh sửa thông tin tài khoản</h1>
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Password hiện tại</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" id="f-name" placeholder=" ">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Password mới</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" id="l-name" placeholder=" ">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Nhập lại password</label>
                          <div class="col-lg-6">
                            <input type="password" class="form-control" id="l-name" placeholder=" ">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-danger" >Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      
      <!-- page end--> 
</section>