<div class="row">
  <!-- profile-widget -->
  <div class="col-lg-12">
    <div class="profile-widget profile-widget-info">
      <div class="panel-body">
        <div class="col-lg-3 col-sm-3">
          <div class="follow-ava pull-left"> <img src="" alt=""> </div>
          <h4>{{user.fullname}}</h4>
        </div>
        <div class="col-lg-4 col-sm-4 follow-info">
          <p>{{user.bussiness.short_desc}}</p>
          <p>Email: {{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- BEGIN QUAN LY THONG TIN -->
<div class="row" ng-controller="tabCtrl">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading tab-bg-info">
        <ul class="nav nav-tabs">
          <li data-ng-class="{active: tabSelected === 'profile'}"> <a data-toggle="tab" data-ng-click="changeTab('profile')"> <i class="icon-user"></i> Thông tin </a> </li>
          <li data-ng-class="{active: tabSelected === 'edit-profile'}"> <a data-toggle="tab" data-ng-click="changeTab('edit-profile')"> <i class="icon-envelope"></i> Chỉnh sửa thông tin </a> </li>
          <li data-ng-class="{active: tabSelected === 'edit-account'}"> <a data-toggle="tab" data-ng-click="changeTab('edit-account')"> <i class="icon-envelope"></i> Chỉnh sửa tài khoản </a> </li>
        </ul>
      </header>
      <div class="panel-body ">
        <div class="tab-content ">
          <!-- profile -->
          <div id="profile" class="tab-pane" data-ng-class="{active: tabSelected === 'profile'}">
            <section class="panel">
              <div class="bio-graph-heading">{{user.bussiness.category}} </div>
              <div class="panel-body bio-graph-info">
                <h1>Thông tin doanh nghiệp</h1>
                <div class="row">
                  <div class="bio-row">
                    <p><span>Tên</span>: {{user.bussiness.name}} </p>
                  </div>
                  <div class="bio-row">
                    <p><span>Lĩnh vực</span>: {{user.bussiness.category}}</p>
                  </div>
                  <div class="bio-row">
                    <p><span>Email </span>:{{user.email}}</p>
                  </div>
                  <div class="bio-row">
                    <p><span>Điện thoại </span>: {{user.bussiness.phone}}</p>
                  </div>
                  <div class="bio-row">
                    <p><span>Di động </span>:  TRONG</p>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="row"> </div>
            </section>
          </div>
          <!-- edit-profile -->
          <div id="edit-profile" class="tab-pane" data-ng-class="{active: tabSelected === 'edit-profile'}">
            <section class="panel">
              <div class="panel-body bio-graph-info">
                <h1> Chỉnh sửa thông tin doanh nghiệp</h1>
                <form class="form-horizontal" data-ng-submit="editBussiness()">
                  <!-- begin row cho thông tin chung và địa chỉ -->
                  <div class="row">
                    <!-- begin column cho thông tin chung -->
                    <div class="col-lg-6">
                      <section class="panel">
                        <header class="panel-heading"> Chỉnh sửa thông tin chung </header>
                        <div class="panel-body">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Tên doanh nghiệp*</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" data-ng-model="bussiness.name">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Lĩnh vực hoạt động</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" data-ng-model="bussiness.category">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Điện thoại</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" data-ng-model="bussiness.phone">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-2 control-label">Mô tả ngắn gọn</label>
                            <div class="col-sm-10">
                              <textarea  rows="4" cols="50" class="form-control" data-ng-model="bussiness.short_desc">
                              </textarea>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                    <!-- End column cho thông tin chung -->
                  </div>
                  <!-- end row cho thông tin chung và địa chỉ-->

                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-danger" data-ng-click="clear()">Cancel</button>
                    </div>
                  </div>
                </form>
                <!-- end form chỉnh sửa thông tin -->
              </div>
            </section>
          </div>

          <!--- Edit account -->
          <div id="edit-account" class="tab-pane" data-ng-class="{active: tabSelected === 'edit-account'}">
            <section class="panel">
              <div class="panel-body bio-graph-info">
                <h1> Chỉnh sửa thông tin tài khoản</h1>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Password hiện tại</label>
                    <div class="col-lg-6">
                      <input type="password" class="form-control" id="f-name" placeholder=" ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Password mới</label>
                    <div class="col-lg-6">
                      <input type="password" class="form-control" id="l-name" placeholder=" ">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Nhập lại password</label>
                    <div class="col-lg-6">
                      <input type="password" class="form-control" id="l-name" placeholder=" ">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button type="button" class="btn btn-danger" >Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>

        <!-- BEGIN DANH SACH CHI NHANH -->
      </div>
    </section>
  </div>
</div>
<!-- END QUAN LY THONG TIN -->
