<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="close_modal()">&times;</button>
  <h3>chỉnh sửa thông tin đặt sân</h3>
</div>
<div class="modal-body row">
  <div class="col-lg-12">
    <label>Thời gian</label>

    <br><label>Địa điểm</label><br>
    <span style="display:inline">{{branchname}} tai {{address}}</span>
    <i class="fa fa-street-view fa-2x" ng-click= 'showbranchpostion()'></i>
    <br><label>Đặt bởi</label><br>
    <img src="" alt="avarta">
    <span style="display:inline">{{user.username}} , Số ĐT: {{user.phone}}</span>
    <br><label>Thanh toán</label><br>
    <input type="radio" value="taisan" checked>Thanh toán tại sân
    <!-- <input type="radio" name="" value="" placeholder="">Thanh toán điện tử <br> -->
    <br><label>Giá phí</label><br>
    <span>250000VNĐ</span>
    <br>
    <button class="btn btn-theme margintop10 pull-left marginright20 marginbot40" type="submit">Cap nhat</button>
  </div>
</div>