<tabset>
  <tab heading="Địa điểm">
    <div class="row margintop20">
      <div class="col-lg-9">
        <map
        min-zoom ="5"
        max-zoom = "18"
        disable-default-u-i="true"
        style='height: 500px;'>
      </map>
    </div>
    <div class="col-lg-3" style="height: 500px; overflow-y: auto;">
      <h4>Danh sách địa điểm</h4>
      <ul class="list-search-result">
        <li ng-repeat="branch in branches" ng-click="showresult(branch)">
          <strong style="color: #366378">{{branch.name}}</strong>
          <p>{{branch.address}}</p>
        </li>
      </ul>
    </div>
  </div>
</tab>

<tab heading="Bài viết">
  <div class="margintop20">

    <div id="listPost">
      <section ng-include="'appJS/home/posts/_listPosts.html'" ></section>
    </div>

  </div>
</tab>

</tabset>