<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Sporta">
	<meta name="author" content="Sporta">
	<meta name="keyword" content="Sporta, Mang xa hoi the thao, bong da">
  <title>Sporta</title>
  <%= stylesheet_link_tag    'adminCSS/application', media: 'all'%>
  <%= javascript_include_tag 'adminJS/application' %>
  <%= csrf_meta_tags %>

</head>

<body ng-app="sportaBussinessAdmin">
  
  <div data-ng-controller="HeaderCtrl">
  </div>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <div ng-include="'adminJS/bussinessAdmin/header/_header.html'">
    </div>
    <!--header end-->

    <!--sidebar start-->
    <div data-ng-include="'adminJS/bussinessAdmin/sideBar/_side_bar.html'" scope="" onload=""></div>
    <!--sidebar end-->
    
    <!--main content start-->
    <section id="main-content">
      <ui-view></ui-view>
    </section>
    
  </section>
  <script src="http://maps.googleapis.com/maps/api/js"></script> 
  <script>
    function initialize1() {
      var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize1);
    
    function initialize2() {
      var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("mainMap"), mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize2);
  </script>
</body>
</html>
