<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sporta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>

  <%= stylesheet_link_tag    'applicationCSS/application', media: 'all'%>
  <%= javascript_include_tag 'appJS/application' %>
  <script src="http://code.angularjs.org/1.4.0-rc.1/i18n/angular-locale_vi-vn.js"></script>
</head>
<body ng-app="sportApp">
  <!-- {{4+3}} -->
  <header data-ng-include="'appJS/header/_header.html'"></header>

  <!-- CONTENT HERE -->
  <div class="container">
    <div ui-view></div>
  </div>
  <!-- END CONTENT -->

  <!-- FOOTER HERE  -->
  <footer data-ng-include="'appJS/footer/_footer.html'"></footer>
  <!-- END FOOTER -->

  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

  <!-- MODALS HERE -->
  <div class="modals">
    <div data-ng-include="'appJS/auth/_login.html'"></div>
    <div data-ng-include="'appJS/auth/_register.html'"></div>
    <div data-ng-include="'appJS/auth/_forget_password.html'"></div>
  </div>
  <!-- END MODALS -->

  <script>
    /*For textarea*/
    autosize(document.querySelectorAll('textarea'));
  </script>
</body>
</html>
