<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keyword" content="">

  <title>Profile | Creative - Bootstrap 3 Responsive Admin Template</title>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=geometry"></script>
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag    'adminCSS/bussinessAdmin/application', media: 'all'%>
  <%= javascript_include_tag 'adminJS/bussinessAdmin/application' %>
  <%= csrf_meta_tags %>

</head>

<body ng-app="sportaBussinessAdmin" ng-controller="BAmainCtrl">

  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <div ng-include="'adminJS/bussinessAdmin/header/_header.html'">
    </div>
    <!--header end-->

    <!--sidebar start-->
    <div data-ng-include="'adminJS/bussinessAdmin/sideBar/_side_bar.html'" scope="" onload=""></div>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <ui-view></ui-view>
    </section>

    <!--main content end-->
  </section>

</body>
</html>
