<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <title>Sporta</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'adminCSS/systemAdmin/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="sportaSystemAdmin" ng-controller="SAmainCtrl" class="skin-yellow sidebar-collapse">
  <div class="wrapper">
    <header class="main-header">
      <div ng-include="'adminJS/systemAdmin/header/_header.html'"></div>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <div data-ng-include="'adminJS/systemAdmin/sidebar/_sidebar.html'"></div>
      </section>
    </aside>

    <div class="content-wrapper">
      <section  class="content">
        <div ui-view></div>
      </section>
    </div>

    <div class="pull-right" flash-message="3000" ></div>

    <footer class="main-footer">
      Copyright &copy; 2015 <a href="/">Sporta</a>
    </footer>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=geometry"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <%= javascript_include_tag 'adminJS/systemAdmin/application' %>
</body>
</html>
